.navbar__link {
    text-decoration: none;
    padding: 8px 16px;
    color: var(--grey);
    font-weight: bold;
    font-size: 20px;
}
.navbar__link:hover{
    background-color: var(--light-violet);
    color: var(--dark-violet);
    transition: background-color 1s;
    cursor: pointer;
    border-radius: 24px;
}
.navbar__link.active{
    color: var(--violet);
}